
.lbpmView .tb_normal {
	border-collapse: collapse;
}
.lbpmView .td_title {
	width: 28%;
	text-align: left;
	color: #898989;
}
.lbpmView .tb_normal td{
	vertical-align: top;
	padding: 12px 6px 12px 0px;
	border-bottom: 1px solid #e2e2e2;
}
.lbpmView .tb_normal tr:last-child td{
	border-bottom:none;
}
.lbpmView .tb_normal td b{ font-weight: normal;}
.lbpmView .tb_normal td:nth-child(even) {
	vertical-align: top;
	padding: 12px 5px 0px 0px;
}
.lbpmView .tb_normal td:nth-child(even) .muiField{ padding: 0px; margin-top: -3px;}
.lbpmView .tb_normal,
.lbpmView .tb_normal td,
.lbpmView .tb_normal td b {
	/**/font-size: 1.4rem;
}
.lbpmView .tb_normal td textarea{ border: none; width: 100%; -webkit-appearance:none; height: 60px;}
.lbpmOptionsPane {
	background-color: #fff;
	z-index: 1;
	background-color: #fff;
	position: relative;
}
.lbpmOptionsPane .mblView {
	text-align: center;
	z-index: 1;
	/*background-color: #fff;*/
}
.lbpmOptionsPane .mblIconItem {
	width: 20%;
	display: inline-block;
	float: none;
}
.mblIconArea {
	height: 6.0rem;
	width: 100%;
	font-size: 1.4rem;
	opacity: 0.6;
}
.mblIconArea.selected{ opacity: 1;}
.mblIconAreaInner {
	/*opacity:0.3;*/
	height: 3.6rem;
	width: 3.6rem;
	line-height: 3.6rem;
	border-radius: 50%;
	/*background-color: #61AEF2;*/
	margin: 1rem auto 0.5rem auto;
	color: white;
	font-size: 2.2rem;
}
.mblIconAreaInner i.mui {
	font-size: 2.2rem;
	line-height: inherit;
}
.mblIconAreaInner i.mui.mui-handler_pass{ position: relative; top:1px;}
.mblIconAreaInner i.mui.mui-handler_cancelCommunicate{ position: relative; top:-1px;}
.mblIconAreaInner i.mui.mui-handler_refuse{ position: relative; left: 1px; top:-1px;}
.mblIconAreaInner i.mui.mui-handler_commission{ position: relative; top:-1px;}
.mblIconAreaInner i.mui.mui-handler_abandon,
.mblIconAreaInner i.mui.mui-drafter_refuse_abandon{ position: relative; top:-2px;}
.mblIconAreaInner i.mui.mui-handler_communicate{ position: relative; top:-1px;}
.mblIconAreaInner i.mui.mui-handler_superRefuse{ position: relative; left: 1px; top:-1px;}
.mblIconAreaInner i.mui.mui-drafter_submit{ position: relative; top:-2px;}

.selected .mblIconAreaInner {
	height: 3.8rem;
	width: 3.8rem;
	line-height: 4rem;
	border: 2px solid #87C6F9;
	opacity:1;
	margin-top: 0;
}
.selected .mblIconAreaInner i.mui {
	font-size: 2.5rem;
	line-height: 3.8rem;
}
.selected .mblIconAreaInner i.mui.mui-handler_cancelCommunicate{ top:-2px;}

.mblIconAreaTitle {
	color: #7e7e7e;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	display: block;
}
.lbpmView .splitLine td {
	/*border-bottom: 1px dashed #b4c7d9;*/
}

.lbpmView .mblTabBarButtonIconParent1,
.lbpmView .mblTabBarButtonIconParent2 {
	float: right;
}
.lbpmView .mblTabBarButtonIconParent2 .mui-address,
.lbpmView .mblTabBarButtonIconParent1 .mui-address{
	width: 20px;
	height: 20px;
	line-height: 1.2;
	text-align: center;
	font-size: 1.6rem;
	border: 1px solid #3298E0;
	border-radius: 50%;
	color: #3298E0;
}
.lbpmView .modifyNodeAuthorizationSelector {
	height:30px;clear:both;
}
#currentHandlersLabel{ /*padding-top: 20px;*/}
/* handler_pass 通过 */
.handler_pass .mblIconAreaInner {
	/*background-color: #26c41c;*/
	border: 1px solid #84c138;
	color: #84c138;
}

.selected.handler_pass .mblIconAreaInner {
	background-color: #84c138;
	color: #fff;
}
.selected.handler_pass .mblIconAreaTitle {
	color: #84c138;
}
.mblIconAreaTitle{font-size: 1.2rem;}
/* handler_refuse 驳回 */
.handler_refuse .mblIconAreaInner{
	/*background-color: #fe0000;*/
	border: 1px solid #eb1d68;
	color: #eb1d68;
}

.selected.handler_refuse .mblIconAreaInner {
	background-color: #eb1d68;
	color: #fff;
}
.selected.handler_refuse .mblIconAreaTitle {
	color: #eb1d68;
}
/* handler_communicate 沟通 */
.handler_communicate .mblIconAreaInner {
	/*background-color: yellow;*/
	border: 1px solid #ecb02b;
	color: #ecb02b;
}

.selected.handler_communicate .mblIconAreaInner {
	background-color: #ecb02b;
	color: #fff;
}
.selected.handler_communicate .mblIconAreaTitle {
	color: #ecb02b;
}

/* handler_nodeSuspend 节点暂停 */
.handler_nodeSuspend .mblIconAreaInner {
	/*background-color: #CA8130;*/
	border: 1px solid #4dbeba;
	color: #4dbeba;
}
.selected.handler_nodeSuspend .mblIconAreaInner {
	background-color: #4dbeba;
	color: #fff;
}
.selected.handler_nodeSuspend .mblIconAreaTitle {
	color: #4dbeba;
}

/* handler_nodeResume 节点唤醒 */
.handler_nodeResume .mblIconAreaInner {
	/*background-color: #CA8130;*/
	border: 1px solid #4dbeba;
	color: #4dbeba;
}
.selected.handler_nodeResume .mblIconAreaInner {
	background-color: #4dbeba;
	color: #fff;
}
.selected.handler_nodeResume .mblIconAreaTitle {
	color: #4dbeba;
}

/* handler_commission 转办  */
.handler_commission .mblIconAreaInner {
	/*background-color: #4a93fc;*/
	border: 1px solid #2391dc;
	color: #2391dc;
}

.selected.handler_commission .mblIconAreaInner{
	background-color: #2391dc;
	color: #fff;
}
.selected.handler_commission .mblIconAreaTitle {
	color: #2391dc;
}

.handler_abandon .mblIconAreaInner,
.drafter_refuse_abandon .mblIconAreaInner{
	color:#999;
	border: 1px solid #999;
}
.selected.handler_abandon .mblIconAreaInner,
.selected.drafter_refuse_abandon .mblIconAreaInner{
	background-color: #999;
	color: #fff;
}
.selected.handler_abandon .mblIconAreaTitle,
.selected.drafter_refuse_abandon .mblIconAreaTitle {
	color: #999;
}

.drafter_submit .mblIconAreaInner{
	color:#2391dc;
	border: 1px solid #2391dc;
}
.selected.drafter_submit .mblIconAreaInner {
	background-color: #2391dc;
	color: #fff;
}
.selected.drafter_submit .mblIconAreaTitle{
	color:#2391dc;
}

.handler_cancelCommunicate .mblIconAreaInner{
	color:#5e5e5e;
	border: 1px solid #5e5e5e;
}
.selected.handler_cancelCommunicate .mblIconAreaInner {
	background-color: #5e5e5e;
	color: #fff;
}
.selected.handler_cancelCommunicate .mblIconAreaTitle{
	color:#5e5e5e;
}

.handler_returnCommunicate .mblIconAreaInner{
	color:#87C6F9;
	border: 1px solid #87C6F9;
}
.selected.handler_returnCommunicate .mblIconAreaInner {
	background-color: #87C6F9;
	color: #fff;
}
.selected.handler_returnCommunicate .mblIconAreaTitle{
	color:#87C6F9;
}
.handler_superRefuse .mblIconAreaInner{
	color:#ff0000;
	border: 1px solid #ff0000;
}
.selected.handler_superRefuse .mblIconAreaInner {
	background-color: #ff0000;
	color: #fff;
}
.selected.handler_superRefuse .mblIconAreaTitle{
	color:#ff0000;
}
/* handler_sign 签字  */
.handler_sign .mblIconAreaInner{
	color:#dead76;
	border: 1px solid #2391dc;
}
.selected.handler_sign .mblIconAreaInner {
	background-color: #2391dc;
	color: #fff;
}
.selected.handler_sign .mblIconAreaTitle{
	color:#2391dc;
}

#notifyLevelTD {
	font-size: 1.4rem;
}
#notifyLevelTD label {
	margin: 0 5px;
}
.lbpmNextRouteInfoRow label{ font-size: 1.4rem;}
.lbpmNextRouteInfoRow { }
.lbpmNextRouteInfoRow label:first-child{ font-size: 1.4rem; margin-left: -20px;}
.mblContainer{ border: none!important; box-shadow: 0px 2px 4px #cdcdcd;}

.optionsSplitLine{ height: 1.5rem; background-color: #f0eff5; }

#commonUsagesRow {
	/*position: absolute !important;*/
	width: 100%;
	z-index: 1;
}

#commonUsages {
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.iconArea {
	display: inline-block;
}
.handingWay{
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
}


.actionView{
	padding: 0 0 0.5rem 1rem!important;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.actionView:last-child{ border-bottom: 0;}
.actionView select{
	max-width: 96%;
}
.actionView .splitLine,
.actionView .handler_pass,
.actionView .handler_refuse,
.actionView .handler_superRefuse {}
.actionView .handler_refuse .muiFormSelect,
.actionView .handler_superRefuse .muiFormSelect{ max-width:100%!important;}
.actionView .handler_refuse .muiFormSelect > .muiFieldItem > .muiFieldOpt span,
.actionView .handler_superRefuse .muiFormSelect > .muiFieldItem > .muiFieldOpt span{ right: 1rem;}
.actionView .handler_refuse .titleNode,
.actionView .handler_superRefuse .titleNode{
	padding-bottom: 5px;
}
.actionView .handler_refuse .detailNode,
.actionView .handler_superRefuse .detailNode{ padding-left: 1rem;}
.actionView .handler_refuse .refusePassedToThisNode,
.actionView .handler_superRefuse .refusePassedToThisNode{
	font-size: 1.4rem;
}
.actionView .handler_refuse .refusePassedToThisNode label,
.actionView .handler_superRefuse .refusePassedToThisNode label{
	margin-left: 0!important;
}

.actionView .handler_commission,
.actionView .handler_communicate{
	position: relative;
	padding: 5px 0;
}
.actionView .handler_commission .titleNode,
.actionView .handler_communicate .titleNode{
	padding: 0;
	line-height: 30px;
	/*position: absolute;*/
}
.actionView .handler_commission .detailNode .muiField,
.actionView .handler_communicate .detailNode .muiField{
	padding: 0;
}
.actionView .handler_commission .detailNode .muiField .muiFieldOpt,
.actionView .handler_communicate .detailNode .muiField .muiFieldOpt,
.actionView .splitLine .detailNode .muiField .muiFieldOpt{
	padding-right:1rem;
}
.actionView .mblTabBarButton{
	/*position: absolute;
	right:0;
	top: 9px;*/
	padding-right: 1rem;
}
.actionView .mblTabBarButton>.mblTabBarButtonIconArea{ width: auto!important;}
.actionView .lbpmInfoTable .detailNode{ border-bottom: 0;}



.actionView .splitLine:last-child{
	border-bottom:0;
}

.actionView .titleNode{
	padding: 1rem 0 0;
	color: #2c79c7;
	font-size:1.4rem;
	font-weight: bold;
}
.actionView .detailNode{
	padding-left: 1rem;
	padding-bottom: 5px;
	font-size:1.4rem;
	border-bottom: 1px solid #e2e2e2;
}
.actionView .detailNode .muiFieldItem{ width: 100%}
.actionView .detailNode>label{ word-break:break-all; word-wrap:break-word; padding-right: 1rem; display: inline-block;}
.actionView .detailNode .muiFieldOptions > .muiFieldText{ padding-right: 1rem;}
.actionView #operationsRow_Scope{ color: #999; font-size:1.2rem; padding-bottom: 10px;}
.actionView #notifyLevelRow .detailNode{
	margin-top: 8px;
	border-bottom: 0;
}
.actionView #notifyLevelRow .detailNode .muiFieldValue{
	width: 100%;
	table-layout: fixed;
	display: table;
}
.actionView #notifyLevelRow .detailNode .muiField{ padding: 0;}
.actionView #notifyLevelRow .detailNode .muiFieldValue .muiField{
	display: table-cell;
	vertical-align: middle;
}
.actionView #notifyLevelRow .detailNode .muiFieldValue .muiField .muiFieldText{
	border-bottom: 0;
	padding: 0;
}
.actionView #notifyLevelRow .detailNode .muiFormRadio .muiFormRadioOverlay{ top:-5px;}
.actionView #notifyLevelRow .detailNode .muiFieldValue .muiField:nth-child(1) .muiFieldOptions .muiFormRadio{ top:1px;}
.actionView #notifyLevelRow .detailNode .muiFieldValue .muiField:nth-child(1) .muiFieldText{ color: #ff0000;}
.actionView #notifyLevelRow .detailNode .muiFieldValue .muiField:nth-child(2) .muiFieldText{ color: #3fa9f5;}


.actionView #handlerIdentityRow .detailNode{
	padding: 8px 0;
}

.actionView .lbpmInfoTable .titleNode{ padding-bottom: 6px;}
.actionView .detailNode .lbpmNextRouteInfoRow{
	padding:0 1rem 0 0;
	min-height: 30px;
	font-size:1.4rem;
	border-bottom: 1px solid #e2e2e2;
}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFormOptionsField{ border-bottom: 1px solid #e2e2e2;}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFormOptionsField:last-child{ border-bottom:0;}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFieldOptions{ zoom: 1;}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFieldOptions:after{
	content: "clear";
	clear: both;
	display: block;
	line-height: 0;
	visibility: hidden;
}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFieldOptions > .muiFieldText{
	padding:6px 1rem 6px 0;
	border-bottom: 0;
	float: left;
}
.actionView .detailNode .lbpmNextRouteInfoRow .muiFieldOptions .muiFormRadio,
.actionView .detailNode .lbpmNextRouteInfoRow .muiFormOptionsField:first-child .muiFieldOptions .muiFormRadio{ top:-5px;}
.actionView .detailNode .lbpmNextRouteInfoRow .handlerNamesLabel{ padding: 5px 1rem; float: right;}
.actionView .detailNode .isHiddenNoteCheckbox,
.actionView .detailNode .isMutiCommunicateCheckbox{
	margin-left:1rem;
	padding: 6px 0;
	font-size:1.4rem;
	border-bottom: 1px solid #e2e2e2;
}
.actionView .detailNode .lbpmNextRouteInfoRow:last-child,
.actionView .detailNode .isHiddenNoteCheckbox:last-child,
.actionView .detailNode .isMutiCommunicateCheckbox:last-child{
	border-bottom:0;
}
.actionView .detailNode .modifyNodeAuthorizationSelector{
	padding:11px 5px;
	padding-right: 0;
	height: auto;
	/*min-height: 30px;*/
	font-size:1.4rem;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
}
.actionView .detailNode .modifyNodeAuthorizationSelector:last-child{ border-bottom: 0;}
.actionView .detailNode .modifyNodeAuthorizationSelector .muiField{
	margin:0!important;
	min-width: 0;
	padding: 0;
	/*padding-top:6px;*/
}
.actionView .detailNode .modifyNodeAuthorizationSelector .muiField .muiFieldOpt{ padding-right: 1rem;}
.actionView .detailNode .lbpmNextRouteInfoRow b,
.actionView .detailNode .modifyNodeAuthorizationSelector b{ font-weight: normal!important;}
.actionView .detailNode .handlerNamesLabel{
	color: #999;
	text-decoration: none;
	font-size: 1.4rem;
}
.actionView .detailNode #currentHandlersLabel{
	font-size:1.4rem;
	line-height: 1.5;
}
.actionView .handingWay{
	margin-left: 5px;
}
.actionView .handingWay i{
	font-size: 1.8rem;
}
.actionView .lbpmAuditNoteTable textarea{
	width: 96%;
	border: 0;
	-webkit-appearance: none;
}

#lbpmFlowChartBack {
	background-color: #18b4ed;
	color:#fff;
	line-height: 30px;
	height: 38px;
}
#lbpmFlowChartBack .mblToolBarButton {
	margin: 0;
}
#lbpmFlowChartBack .mblToolBarButtonLabel {
	color:#fff;
	font-weight: 300;
}
#lbpmFlowChartBack .mblToolBarButtonArrow {
	width: 14px;
	height: 14px;
	top: 9px;
	left:1rem;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
}
#lbpmFlowChartBack .mblHeadingDivTitle {
	font-size:1.8rem;
	font-weight:bold;
	line-height: 38px;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonIcon{ padding-left: 10px!important;}

#commonUsagesDiv{
	margin-bottom: 5px;
	width: 100%;
	display: table;
	table-layout: fixed;
	border-bottom: 1px solid #e2e2e2;
	background-color: #fff;
}
#commonUsagesDiv .handingWay{
	display: table-cell;
	padding: 10px 0;
	width: 25%;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

#commonUsagesDiv .handingWay .iconTitle{
	color: #686868;
}

#commonUsagesDiv .handingWay .iconArea{
	margin-right: 3px;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	color: #3fa9f5;
	border:1px solid #cbcbcb;
	border-radius: 50%;
}
#commonUsagesDiv .handingWay .iconArea i{
	font-size: 2.2rem;
	line-height: 2.5rem;
}
#commonUsagesDiv .handingWay.selected .iconArea{
	color: #fff;
	border-color: #3fa9f5;
	background-color: #3fa9f5;
}
#commonUsagesDiv .handingWay.selected .iconTitle{
	color: #3fa9f5;
}

#commonUsagesDiv #commonUsages i:before{ position: relative; top:-4px; font-size: 1.6rem; font-family:"MicrosoftYaHei"; content: "\常";}
#commonUsagesDiv #digitalSignature i:before{ position: relative; top:-2px; font-size: 1.8rem;}
#commonUsagesDiv #handwriting i:before{ position: relative; top:2px;}

/*在可视区域的宽度大于401px 的时候被应用(魅族mx3 432px)*/
@media screen and (min-width: 401px) {
	#commonUsagesDiv .handingWay .iconArea{
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
	}
	#commonUsagesDiv #commonUsages i:before{ position: relative; top:-4px; font-size: 1.6rem; line-height: 1; font-family:"MicrosoftYaHei"; content: "\常";}
	#commonUsagesDiv #digitalSignature i:before{ position: relative; top:-2px; font-size: 1.8rem; }
	#commonUsagesDiv #handwriting i:before{ position: relative; top:2px;}
}

.actionView .detailNode .lbpmNextRouteInfoRow #nextNodeName {
	padding:6px 1rem 6px 0;
	border-bottom: 0;
	float: left;
}
