{$
	<div class='lui_tabpanel_wiki_frame'>
		<div class='lui_tabpanel_wiki_navs_l'>
			<div class='lui_tabpanel_wiki_navs_r'>
				<div class="lui_tabpanel_wiki_navs_c clearfloat">
$}
for(var i=0;i<layout.parent.contents.length;i++){
	{$
					<div class='lui_tabpanel_wiki_navs_item_l' data-lui-mark="panel.nav.frame" data-lui-switch-class="lui_tabpanel_wiki_navs_item_selected">
						<div class='lui_tabpanel_wiki_navs_item_r'>
							<div class='lui_tabpanel_wiki_navs_item_c' data-lui-mark="panel.nav.title">
							</div>
						</div>
					</div>
	$}
}
{$			
				</div>
			</div>
		</div>
		<div class="lui_tabpanel_wiki_content_l">
			<div class="tabpanel_wiki_content_r">
				<div class="tabpanel_wiki_content_c" data-lui-mark="panel.contents">
				</div>
			</div>
		</div>
		<div class="tabpanel_wiki_footer_l">
			<div class="tabpanel_wiki_footer_r">
				<div class="tabpanel_wiki_footer_c">
				</div>
			</div>
		</div>
	</div>
$}
