<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<extension-point
		id="com.landray.kmss.sys.handover">
		<item
			name="config">
			<param
				name="module"
				required="true"
				kind="unid">
				<description>配置类工作交接模块</description>
			</param>
			<param
				name="messageKey"
				required="true"
				kind="string">
				<description>配置类工作交接模块的messageKey</description>
			</param>
			<param
				name="handler"
				kind="java"
				basedOn="com.landray.kmss.sys.handover.interfaces.config.IHandoverHandler">
				<description>配置类工作交接查询、执行实现接口（与provider，二选一）</description>
			</param>
			<param
				name="provider"
				kind="java"
				basedOn="com.landray.kmss.sys.handover.interfaces.config.IHandoverProvider">
				<description>配置类工作交接扩展子分类接口（与handler，二选一）</description>
			</param>
			<param
				name="order"
				kind="int">
				<description>排序</description>
			</param>
			<description>配置类工作交接扩展</description>
		</item>
		<description>工作交接相关扩展点</description>
	</extension-point>
</plugin>