.muiAskView {
	background-color: #f5f7fa;
}

.muiAskHeader {
	position: relative;
	padding: 1rem;
	min-height: 5rem;
	background-color: #fff;
}

.muiAskHeader .muiAskPosterImg {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.muiAskHeader .muiAskPosterImg>img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	display: block;
}

.muiAskHeader .muiAskPosterName {
	line-height: 1.8rem;
	padding: 2px 1rem 0.6rem 4.6rem;
	display: block;
}

.muiAskHeader .muiAskPosterName>a {
	font-size: 1.6rem;
	color: #5d5d5d !important;
}

.muiAskInfo>span {
	color: #a0a0a3;
	font-size: 1.2rem;
}

.muiAskHeader .muiAskInfo {
	padding: 0 1rem 0 4.6rem;
	display: block;
	font-size: 1.2rem;
}

.muiAskHeader .muiAskInfo {
	border: none;
}

.muiAskContent, .muiAskPost .muiAskAdditionItem .muiAskContent {
	padding: 0 0.5rem;
	word-break: break-all;
	overflow: hidden;
}

.muiAskContent:after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.muiAskContent .mui {
	font-size: 1.8rem;
	color: #fea906;
	padding-right: 0.3rem;
	line-height: 1;
	position: relative;
	top: -1px;
}

.muiAskContent .mui>span {
	font-size: 1.4rem;
	margin-left: -5px;
	position: relative;
	top: -2px;
}

.muiAskLabel {
	font-size: 1.6rem;
	font-weight: bold;
	color: #000;
}

.muiAskLabel:after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.muiAskLabel .muiAskScore {
	font-family: Roboto, Tahoma, Arial, 'Droid Sans', 'Helvetica Neue',
		'Droid Sans Fallback', 'Heiti SC', sans-self;
}

.muiAskPost .muiAskInfo {
	position: relative;
	padding-left: 4.6rem;
	height: 4rem;
}

.muiAskInfo a>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	display: block;
}

.muiAskPost .mblEdgeToEdgeList {
	background-color: #f5f7fa;
	border-top: 1px solid #dadada;
	box-shadow: 0px 1px 4px #dadada inset;
}

.muiAskInfo .muiAskPosterName {
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 0rem 1rem 0 0;
	display: block;
	color: #5d5d5d !important;
}

.muiAskTime {
	font-size: 1.2rem;
	color: #a0a0a3;
	display: block;
}

.muiAskPost .muiAskTime {
	line-height: 1.5rem;
	padding-top: 0.3rem;
}

.muiAskPost .muiAskContent {
	position: relative;
	/*margin-bottom: 1rem;*/
	padding: 0.5rem 0 0.5rem 5rem;
	display: block;
	color: #333;
	word-break: break-word;
	word-wrap: break-all;
	font-size: 1.4rem;
}

.muiAskPost .muiAskContent img {
	max-width: 100%;
}

.muiAskPost .muiAskReplyItem {
	padding: 1rem 1rem 0.5rem;
	border-bottom: 1px solid #d9d9d9;
	display: block;
}

.muiAskPost .muiAskContent>p {
	padding: 0;
	margin: 0;
}

.muiAskOperation {
	position: absolute;
	right: 0rem;
	top: 0.5rem;
	display: block;
	width: 3rem;
	height: 2rem;
	background: #fff;
	border: 0.1rem #cbcbcb solid;
	border-radius: 4px;
	text-align: center;
}

.muiAskOperation .f {
	position: absolute;
	left: -1rem;
	top: 0.5rem;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0.5rem;
	border-style: dashed solid dashed dashed;
	border-color: transparent #FFF transparent transparent;
}

.muiAskOperation .l {
	position: absolute;
	left: -1.1rem;
	top: 0.5rem;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0.5rem;
	border-style: dashed solid dashed dashed;
	border-color: transparent #cbcbcb transparent transparent;
}

.muiAskOperation .mui.mui-more {
	line-height: 2.5rem;
	font-size: 2.5rem;
	color: #626466;
}

.muiAskOperationTip {
	height: 2.9rem;
	padding: 0.5rem 0.3rem;
	background: #282e44;
	border-radius: 3px;
}

.mblTooltip.muiAskOperationTip {
	border: 1px solid #111830;
	-webkit-transition: all 200ms ease-out;
	overflow: hidden;
}

.muiAskOperationTip .mblTooltipAnchor {
	display: none;
}

.muiAskOperationButton.mui-checked mui {
	line-height: 2.5rem;
	font-size: 2.5rem;
}

.muiAskOperationButton {
	display: inline-block;
	height: 2.9rem;
	line-height: 2.9rem;
	margin: 0 0.5rem;
	color: #dfe1e6;
	background: #444c63;
	text-align: center;
	/*text-shadow:1px 1px 1px rgba(0,0,0,0.75);*/
	font-size: 1.4rem;
	padding: 0rem 1.5rem;
	border-radius: 3px;
}

.muiAskOperationButton .mui {
	font-size: 2.2rem;
}

.muiAskOperationButton .mui.mui-evaluation {
	position: relative;
	top: -1px;
}

.muiAskInfo>img {
	width: 3rem;
	height: 3.2rem;
	position: absolute;
	right: 0rem;
	top: -1.3rem;
}

.muiTabBarGrid.mblTabBarTabBar .mblTabBarButton {
	padding: 2px 12px;
}

.muiAskCloseBtn .mblTabBarButtonLabel {
	background-color: #EC803A;
	color: #fff;
	border-radius: 4px;
	padding: 0.2rem 0;
}

.muiAskReplyBtn .mblTabBarButtonLabel {
	background-color: #3F9DE5;
	color: #fff;
	border-radius: 4px;
	padding: 0.2rem 0;
	margin-top: 0.4rem;
}

.muiAskReplyBtn .mblTabBarButtonLabel .mui-create {
	font-size: 1.8rem;
}

.mblTabBarButtonLabel .mui-askclose {
	font-size: 2rem;
}

.muiAskEvaluationLi {
	padding: 0.2rem 0 0.2rem 0.5rem;
	font-size: 1.4rem;
	margin-left: 4.5rem;
	word-break: break-all;
	overflow: hidden;
}
.muiAskEvaluationLi:first-child {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid #c8cacc;
}

.muiAskEvaluationLi span {
	font-size: 1.4rem;
	color: #428de9;
}

.muiAskEvaluationLi i {
	font-style: normal;
	font-size: 1.2rem;
	color: #aeaeb0;
	padding-left: 0.8rem;
}

.muiAskDocContent {
	margin: 1rem 0;
	font-size: 1.4rem;
}

.muiAskEditArea {
	display: inline-block;
	position: absolute;
	right: 0.8rem;
	top: 0.7rem;
}

.muiAskEditArea a {
	height: 20px;
	line-height: 20px;
	margin: 0 0.1rem 1rem;
	padding: 0 0.5rem;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 3px;
	background-color: #3fa9f5;
	text-align: center;
	display: inline-block;
}
.muiTopicHeader .muiAttachments .muiAttachmentItem .muiAttachmentItemR{ padding-right: 1rem;}

.muiTopicHead .mui-score{ font-size:2rem; line-height:1.8rem; color:#fffc01;  }
.muiTopicHead .muiAskScore{ font-family:Roboto,Tahoma,Arial,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; font-size:1.6rem; position:relative; top:-0.2rem;}

.muiTopicHead {
	background:#0098e7 url(./images/ask_view_bg.png) no-repeat left top;
	background-size: cover;
}



/**** ��������  ****/
.muiAskAddition{ margin-top:0.8rem;}
.muiAskAddition>span,.muiAskPostAddition>span{ display:inline-block; font-size:1.5rem; margin-bottom:0.5rem; position:relative; color:#fff; background:#42c612; margin-left:-0.8rem; padding-left:1.3rem; padding-right:1.8rem; height:2.6rem; line-height:2.6rem;}
.muiAskAddition>span:after,.muiAskPostAddition>span:after{ display:block; content:""; position:absolute; right:0px; top:0px; border:1.3rem solid transparent; border-width:1.3rem 0.9rem; border-right-color:#fff;}

.muiAskAdditionItem{ padding-top:0.2rem;}
.muiAskContent{ font-size:1.4rem; color:#333; line-height:1.6rem;}
.muiAskAdditionItem .muiEditorFaceImg{ margin-right:0.1rem;}
.muiAskAdditionItem .muiAskTime{ display:inline; margin-left:0.5rem;}

.muiAskBestIcon{ display:table-cell; width:4.5rem;}
.muiAskBestIcon img{ width:2.65rem; height:3.55rem; position:relative; top:-0.8rem;}

.muiAskPostAddition{}
.muiAskPostAddition{ margin-top:0.8rem;}
.muiAskPostAddition>span{  background:#0098e7;}
.muiAskPostAddition>span:after{ border-right-color:#f5f7fa;}

.muiAskAdditionItem{ padding-top:0.2rem; margin-bottom:0.5rem;}
.muiAskContent{ font-size:1.4rem; color:#333; line-height:1.6rem;}
.muiAskAdditionItem .muiEditorFaceImg{ margin-right:0.1rem;}
.muiAskAdditionItem .muiAskTime{ display:inline; margin-left:0.5rem;}
















