<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<!-- SSO -->
	<extension
		point="com.landray.kmss.sys.authentication">
		<item
			name="authenticationProcessingFilter"
			enable="${kmss.authentication.ldap.enabled}">
			<param
				name="bean"
				value="ldapProcessingFilter" />
		</item>
	</extension>

	<!-- OMS -->
	<extension
		point="com.landray.kmss.sys.oms">
		<item
			name="in"
			enable="${kmss.oms.in.ldap.enabled}">
			<param
				name="name"
				value="ldap" />
			<param
				name="service"
				value="ldapSynchroInProvider" />
		</item>
	</extension>

	<!-- admin.do配置 -->
	<extension
		point="com.landray.kmss.sys.config.admin.do">
		<item
			name="config">
			<param
				name="jsp"
				value="/third/ldap/config.jsp" />
			<param
				name="type"
				value="integrate" />
		</item>
		<item
			name="backup">
			<param
				name="name"
				value="ldapconfig.properties" />
			<param
				name="path"
				value="/WEB-INF/KmssConfig/ldapconfig.properties" />
		</item>			
	</extension>
</plugin>