<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">	
	<extension
		point="com.landray.kmss.sys.workflow.support.oa.subprocess"
		model="*">
		<item
			name="subprocess">
			<param
				name="modelName"
				value="com.landray.kmss.sys.news.model.SysNewsMain" />
			<param
				name="createParam"
				value="fdTemplateId=!{cateid}" />
		</item>
	</extension>
	
	<!-- 功能区分类实现 扩展点 -->
	<extension point="com.landray.kmss.third.pda.extend" model="*">
		<item name="extend">
			<param name="modelName"
				value="com.landray.kmss.sys.news.model.SysNewsMain" />
			<param name="templateClass"
				value="com.landray.kmss.sys.news.model.SysNewsTemplate" />
			<param name="filterURL"
				value="/third/pda/pda_property_filter/pdaPropertyFilter.do?method=getPropertyFilter&amp;templateClass=SysNewsTemplate" />
		</item>
	</extension>
	
	<!-- 订阅管理 -->
	<extension
		point="com.landray.kmss.sys.follow.setting"
		model="com.landray.kmss.sys.news.model.SysNewsMain">
		<item name="followSetting">
			<param name="methodName" value="add" />
			<param name="templateModel"  value="com.landray.kmss.sys.news.model.SysNewsTemplate" />
			<param name="templateField"  value="fdTemplate.fdHierarchyId" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.mobile.config">
		<item name="info">
			<param name="name" value="{sys-news:module.sys.news}" />
			<param name="modelName" value="com.landray.kmss.sys.news.model.SysNewsMain" />
		</item>
	</extension>
	
	<extension	point="com.landray.kmss.km.keydata"	model="*" >
		<item
			name="showKeydataUsed">
			<param
				name="name"
				value="新闻管理" />
			<param
				name="actionUrl"
				value="/sys/news/showKeydataUsed.jsp?keydataId=${keydataId}" />
			<param
				name="formName"
				value="sysNewsMainForm" />
		</item>
	</extension>
	
</plugin>