<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean
		id="oauthBindDataDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.third.oauth.dao.hibernate.OauthBindDataDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.third.oauth.model.OauthBindData" />
	</bean>
	<bean
		id="oauthBindDataTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.third.oauth.service.spring.OauthBindDataServiceImp">
		<property
			name="baseDao">
			<ref
				local="oauthBindDataDao" />
		</property>
	</bean>
	<bean
		id="oauthBindDataService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="oauthBindDataTarget" />
		</property>
	</bean>

</beans>
