<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<extension
		point="com.landray.kmss.lbpm.engine.event"
		model="com.landray.kmss.work.cases.model.WorkCasesMain">
		<!-- 流程事件监听 -->
		<item
			name="listener">
			<param
				name="unid"
				value="workCasesMainListener" />
			<param
				name="messageKey"
				value="workCasesMainListener" />
			<param
				name="eventTypes"
				value="lbpmProcessFinishedEvent" />
			<param
				name="listener"
				value="workCasesMainListener" />
			<param
				name="enforce"
				value="true" />
		</item>
	</extension>
</plugin>

