<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 数据初始化 -->
	<bean id="tibSysEasInitExecute" 
		  class="com.landray.kmss.tib.sys.eas.connector.interfaces.impl.TibSysEasInitExecute">
		<property name="tibCommonInoutdataService">
			<ref bean="tibCommonInoutdataService" />
		</property>
	</bean>

</beans>
	
