html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
.mobile body,input,textarea,a,table,tr,td,th{font-size: 1.6rem;/*1.6 × 10px = 16px */}
.mobile body,input,textarea,div,a,table,tr,td,th{ font-family:Roboto,Tahoma,Arial,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a{ text-decoration: none;}
table{ border-collapse: collapse;border-spacing: 0;}
#pageLoading {
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999;
}
#pageLoading {
	display:table;
	font-size: 1.4rem;
	text-align:center;
	background-color:white;
}
#pageLoading span {
	display:table-cell;
	vertical-align:middle;
	color:#5e5a5a;
}
#pageLoading i.mui {
	font-size: 3rem;
	margin-bottom: 10px;
}

.textEllipsis {
	width: 99%;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*系统全局字体颜色*/
/*@标题颜色*/
.muiSubject{color: black!important;}



/*在可视区域的宽度在 321px 和 431px 之间的时候被应用(小米2/三星  360px)*/
@media screen and (min-width: 321px) and (max-width: 400px) {
  	.muiSubject{color: #0c0c0c!important;}
	#pageLoading i.mui {
	font-size: 3.5rem;
	}
	#pageLoading {
	display:table;
	font-size: 2.2rem;
	text-align:center;
	background-color:white;
	}
}

/*在可视区域的宽度大于401px 的时候被应用(魅族mx3 432px)*/
@media screen and (min-width: 401px) {
  	.muiSubject{color: #0c0c0c!important;}
	#pageLoading i.mui {
	font-size: 3.5rem;
	}
	#pageLoading {
	display:table;
	font-size: 2.2rem;
	text-align:center;
	background-color:white;
	}
}



/*@作者颜色*/
.muiAuthor {color: #2c79c7!important;}
/*@数字颜色*/                                                                                    /*人名强调色*/
.muiNumber { font-family: Roboto,Tahoma,Arial,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
	   
/*@常用背景色值*/
.black{
	background-color: #000;
}
.white{
	background-color: #fff; 
}
.gray{
	background-color: #f0eff5;
}
