<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<!-- admin.do配置 -->
	<extension
		point="com.landray.kmss.sys.config.admin.do">
		<item
			name="config">
			<param
				name="jsp"
				value="/third/evernote/config.jsp" />
			<param name="order" value="112"/>
		</item>
	</extension>
	
	
	<extension
		point="com.landray.kmss.km.calendar.cms">
		<item
			name="cms"
			enable="${calendar.integrate.evernote.enabled}">
			<param
				name="key"
				value="evernote" />
			<param
				name="name"
				value="{third-evernote:module.evernote.name}" />
			<param
				name="cmsService"
				value="evernoteProvider" />
			<param
				name="OAuthService"
				value="evernoteProvider" />
			<param
				name="order"
				value="70" />
		</item>
	</extension>
	
	
	
</plugin>